<%- include('header') -%>

<div class = "container">
    <div class = "row">
        <figure class="text-center">
            <h1>Főoldal</h1>
        </figure>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/cica/new" class="btn btn-outline-dark" type="button">Macska regisztrálása</a>
            <a href="/cicak" class="btn btn-outline-dark" type="button">Macskák keresése</a>
            <a href="/hotelek" class="btn btn-outline-dark" type="button">Hotelek listázása</a>
            <a href="/hotel/new" class="btn btn-outline-dark" type="button">Hotel regisztrálása</a>
        </div>
    </div>
</div>

<%- include ('footer') -%>